<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Simple ERP</title>
  </head>

  <body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

      <!-- Preloader -->
      <div class="preloader flex-column justify-content-center align-items-center">
        <label>Cargando</label>
      </div>

      <app-navbar></app-navbar>

      <app-sidebar></app-sidebar>

      <router-outlet></router-outlet>

    </div>
  </body>
</html>
